# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tp5_ift436/Debug/tp5_ift436.tlog/cl.command.1.tlog
tp5_ift436/Debug/tp5_ift436.tlog/CL.read.1.tlog
tp5_ift436/Debug/tp5_ift436.tlog/CL.write.1.tlog
tp5_ift436/Debug/tp5_ift436.tlog/link.command.1.tlog
tp5_ift436/Debug/tp5_ift436.tlog/link.read.1.tlog
tp5_ift436/Debug/tp5_ift436.tlog/link.write.1.tlog
tp5_ift436/Debug/tp5_ift436.tlog/tp5_ift436.lastbuildstate
tp5_ift436/Debug/vc120.idb
tp5_ift436/Release/tp5_ift436.tlog/cl.command.1.tlog
tp5_ift436/Release/tp5_ift436.tlog/CL.read.1.tlog
tp5_ift436/Release/tp5_ift436.tlog/CL.write.1.tlog
tp5_ift436/Release/tp5_ift436.tlog/link.command.1.tlog
tp5_ift436/Release/tp5_ift436.tlog/link.read.1.tlog
tp5_ift436/Release/tp5_ift436.tlog/link.write.1.tlog
tp5_ift436/Release/tp5_ift436.tlog/tp5_ift436.lastbuildstate
*.log
